body {
	background-color: #333;
	color: #fff;
  font-family: 'Roboto Slab', serif;
	width: 50%;
}

h4 {
	margin-bottom: 0em;
	padding-bottom: 0em;
}

p {
	font-size: 0.9em;
}

td {
  vertical-align: bottom;
  text-align: center;
}

a {
  text-decoration:none;
}

a:link {
  color:#C83737;
}

a:visited {
  color:#782121;
}

a:hover {
  color:#F4D7D7;
}

a:active {
  color:#0000FF;
}

ul.nav {
  list-style-type: none;
}